Source: trac-customfieldadmin
Section: web
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), python (>= 2.7), dh-python, python-setuptools
X-Python-Version: >=2.7
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Uploaders: W. Martin Borgert <debacle@debian.org>
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/trac-customfieldadmin.git
Vcs-Git: git://anonscm.debian.org/collab-maint/trac-customfieldadmin.git
Homepage: http://trac-hacks.org/wiki/CustomFieldAdminPlugin

Package: trac-customfieldadmin
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, trac
Description: panel for administrating custom ticket fields in Trac
 This Trac plugin is a web admin panel for administrating custom
 fields - adding, modifying and deleting them without editing
 the trac.ini file directly.
